<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchwabClientID</key>
	<string></string>
	<key>SchwabClientSecret</key>
	<string></string>
	<key>SchwabTokenProxyURL</key>
	<string></string>
	<key>BrokerProxyAPIKey</key>
	<string></string>
	<key>PortfolioInsightsProxyURL</key>
	<string>https://broker-proxy.vercel.app/api/portfolio/insights</string>
	<key>WebullAppKey</key>
	<string></string>
	<key>WebullAppSecret</key>
	<string></string>
</dict>
</plist>
